<p class="content">
  🌍 Willkommen beim CO₂-Emissions-Dashboard.<br>
  Diese Website für die Fallstudie der IU für das Modul 
"Programmierung von Webanwendungsoberflächen" entwickelt. <br>
Die Website beschäftigt sich mit dem globalen Klimawandel. <br>
Ziel der Anwendung ist es, mehr Transparenz über die weltweiten CO₂-Emissionen zu schaffen und dadurch
Bewusstsein für Umweltverantwortung zu fördern.<br>
Das Dashboard bietet eine
  strukturierte Übersicht über die jährlichen CO₂-Emissionen verschiedener
  Länder und Unternehmen (auf Basis fiktiver Daten). <br>
  Die interaktive Tabelle
  ermöglicht es Nutzer*innen, gezielt nach Ländern oder Unternehmen zu suchen
  sowie die Daten nach Emissionswerten zu sortieren. <br>
  Die Seite ist responsiv und passt sich automatisch an verschiedene Bildschirmgrößen an (Desktop, Tablet, Smartphone etc.).<br>
  Sie berücksichtigt außerdem die kulturellen Unterschiede in der Leserichtung. Das Navigationsmenü kann hierzu je nach Sprache nach links oder rechts dargestellt werden. 
  Die Eingabefelder wurden aus Sicherheitsgründen gegen Code-Injektionen abgesichert.<br>
</p>
